.dark {
    background: dimgrey;
}

.dark-text {
    color: dimgrey;
}

.red {
    background: #e34848;
}

.red-text {
    color: lightgreen;
}

.some {
    background: lightgreen;
}

.some-text {
    color: #e34848;
}

.gold {
    background: gold;
}

.gold-text {
    color: purple;
}

.purple {
    background: purple;
}

.purple-text {
    color: gold;
}

.select_block {
    box-sizing: border-box;
    padding:10px;
}