.message {
    width: 400px;
    display: flex;
    align-items: flex-end;
    margin: 10px;
    position: relative;
    color: rgba(255, 255, 255, 0.55);
}

.message > img {
    width: 50px;
    border: solid 2px #494848;
    border-radius: 50%;
    grid-area: i;
    background-color: rgba(111, 234, 10, 0.1);
}

.bodyMessage {
    display: grid;
    grid-area: b;
    background: linear-gradient(rgba(1, 45, 49, 0.4), rgba(30, 73, 69, 0.4));
    width: 100%;
    max-width: 300px;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    position: relative;
}

.bodyMessage > h4 {
    color: rgba(111, 234, 10, 0.62);
    margin: 0;
    padding: 0;
}

.bodyMessage > p {
    margin: 0;
}

.bodyMessage > .time {
    color: rgba(111, 234, 10, 0.62);
    display: flex;
    justify-content: flex-end;
    margin: 0;
    font-size: 11px;
}

.an {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(30, 73, 69, 0.5) 73%);
}