.superInput {
    font-weight: initial;
    font-size: 15px;
    height: 20px;
    color: rgb(17, 14, 14);
    background-color: hsl(240, 13%, 61%);
    border: solid 1px black;
    margin-bottom: 10px;
}

.errorInput {
    border: 1px solid rgba(0, 247, 255, 0.4);
    background: rgba(255, 0, 0, 0.35);
}

.error {
    color: red;
}