.blue {
    border-bottom: 5px solid blue;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    width: auto;
    max-width:190px;
}

.testSpanError {
    color: blue;
}
