select {
    background-color: #c2c2c2;
    width: 85px;
}


input[type='radio'],
label{
    cursor: pointer;
}

input[type='radio'] {
    position: relative;
    height: 12px;
    width: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #c2c2c2;
    border: 1px solid rgba(15, 140, 17, 0.79);
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(15, 140, 17, 0.79);
    transform: translate(-50%, -50%);
    visibility: visible;
}