.main {
    /*background: rgba(174, 243, 214, 0.71);*/
    margin: 10px;
    padding: 10px;
    width: 230px;
    color: hsl(240, 13%, 61%);
}

.mainClass {
    display: flex;
    justify-content: space-between;
}

.buttonClass {
    background-color: #037281;
    color: rgba(255, 255, 255, 0.74);
}

.error {
    width: 8.5em;
    height: 0.5em;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(255, 0, 0, 0.53);
    padding: 0.35em 0.45em;
    border: 2px solid red;
    transition: background-color 0.3s ease-in-out;
}

.errorMessage {
    color: red;
}

/*style for input*/
.p {
    position: relative;
}

.trueClass {
    width: 8.5em;
    height: 0.5em;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: hsl(240, 13%, 61%);
    padding: 0.35em 0.45em;
    border: 2px solid transparent;
    transition: background-color 0.3s ease-in-out;
}

.trueClass:focus {
    outline: none;
}

.trueClass::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
}

.bottom,
.top,
.right,
.left {
    position: absolute;
    background-color: #265a9d;
    transition: transform 0.5s ease;
}

.bottom,
.top {
    height: 2px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.left,
.right {
    width: 2px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.trueClass:focus ~ .bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.right {
    right: 0;
    transform-origin: top right;
}

.trueClass:focus ~ .right {
    transform-origin: bottom right;
    transform: scaleY(1);
}

.top {
    top: 0;
    transform-origin: top left;
}

.trueClass:focus ~ .top {
    transform-origin: top right;
    transform: scaleX(1);
}

.left {
    left: 0;
    transform-origin: bottom left;
}

.trueClass:focus ~ .left {
    transform-origin: top left;
    transform: scaleY(1);
}